@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
body {
  background-color: #fae1dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-family: "Caveat", cursive;
  /* font-optical-sizing: auto; */
  font-weight: normal;
  font-style: normal;
  zoom: 150%;
}
@media only screen and (max-width: 600px) {
  body {
    zoom: 100%;
  }
}
h1 {
}
h1 span {
  color: #fc9786;
}
img {
  position: relative;
  max-width: 300px;
  z-index: 1;
}

button {
  font-size: 20px;
  padding: 10px;
  width: 150px;

  transition: 0.5s;
}
#noBtn {
  z-index: 2;
  position: absolute;
  background-color: #f44336;
  border: 2px solid #f44336;
}
#noBtn:hover {
  background-color: #fae1dd;
}

#yesBtn {
  position: relative;
  right: 150px;
  background-color: #04aa6d;
  border: 2px solid #04aa6d;
  color: #fae1dd;
}

#yesBtn:hover {
  background-color: #fae1dd;
  color: black;
}
